base03 = #002b36
base02 = #073642
base01 = #586e75	// text+ emphesized
base00 = #657b83	// text default
base0 = #839496
base1 = #93a1a1		// text- secondary
base2 = #eee8d5		// bg+ highlight
base3 = #fdf6e3		// bg default
yellow = #b58900
orange = #cb4b16	// complement
red = #dc322f
magenta = #d33682
violet = #6c71c4
blue = #268bd2		// monotone
cyan = #2aa198
green = #859900



body
	margin 0
	padding 1em

	background base3
	color base00

b, strong
	color base01

i, em
	color base1

a
	color base00

	text-decoration none

	&:hover
		color base00

	&:visited
		color base00

a.link
	color yellow

	&:hover
		background base2


.center
	text-align center


.huge
	font-size 10em


.page
	margin auto
	padding 0
	max-width 40em
